tqdm
matplotlib
scikit-learn
PyYAML
ftfy
regex
gdown
tensorboard
scikit-image
cssutils
pandas
wandb
opencv-python-headless==4.8.1.78
pycocotools
onnxruntime
onnx
numba
hausdorff
numpy<2.0.0
svgwrite
svgpathtools
torch-tools
visdom
